header .navbar-toggler {
  color:#fff;
}
header .navbar-toggler-icon {
  color: #fff;
}
header .nav-link {
  color: #fff;
}
main {
  background-color: black;
}
main h1 {
  color: rgb(255, 140, 0);
  letter-spacing: 3px;
  text-align: center;
  font-family: Arial;
  font-size: 4rem;
  text-shadow: 0px 0px 9px #e0d536;
}
main h2 {
  color: rgb(184, 3, 123);
  letter-spacing: 3px;
  text-align: center;
  font-family: Arial;
  font-size: 3rem;
  text-shadow: 0px 0px 5px #fa52c7;
}
main h3 {
  color: rgb(178, 252, 6);
  letter-spacing: 3px;
  text-align: center;
  font-family: Arial;
  font-size: 2rem;
  text-shadow: 0px 0px 5px #9bf593;
}
main .section-1 P {
  text-align: center;
  color: #fff;
  padding: 3rem;
}
main .section-1 P span {
  color: rgb(138, 190, 40);
}
main .section-2 {
  text-align: center;
  color: antiquewhite;
}
main .section-2 .container_flex {
  display: flex;
  margin: 1rem;
  width: 90%;
  height: auto;
}
main .section-2 .container_flex p {
  margin: 0px 20px 0px 20px;
  color: antiquewhite;
}
main .section-2 .container_flex img {
  width: 300px;
  align-items: center;
}
main .section-2 .container_flex .ver_mas {
  text-align: center;
  font-size: 1rem;
  color: #9bf593;
  border: 1px;
}
main .section-3 {
  margin-top: 6px;
}
main p {
  text-align: center;
  color: antiquewhite;
}
main .card-body p {
  color: black;
}
main .ver_mas {
  text-align: center;
  font-size: 1rem;
  color: #9bf593;
  border: 1px;
}

@media only screen and (min-width: 0px) and (max-width: 567px) {
  h1 {
    font-size: 2rem;
  }
  .container-title {
    display: none;
  }
  .container_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    flex-direction: column;
  }
  .container_flex img {
    width: 200px;
    height: auto;
    align-content: center;
  }
}
@media only screen and (min-width: 0px) and (max-width: 567px) and (max-width: 768px) {
  .contenedor-perfil {
    padding: 2px;
    flex-direction: column;
  }
  .imagen-perfil {
    max-width: 100%;
    margin-bottom: 0;
    /* margin-right: 20px; */
  }
  .imagen-perfil img {
    max-width: 100%;
    height: auto;
  }
  .descripcion-perfil {
    max-width: 100%;
    flex: 2;
  }
  .descripcion-perfil p {
    text-align: justify;
    max-width: 90%;
    margin: 0px;
  }
}
.footer {
  text-align: center;
  background-color: black;
}

body {
  margin: 0px;
  padding: 0px;
}

main .section-tatuajes p {
  color: antiquewhite;
}
main .section-tatuajes span {
  color: rgb(138, 190, 40);
}
main .galeria_tatuajes {
  margin-left: 1rem;
  margin-right: 1rem;
}
main .galeria_estilos .gallery img {
  margin: 10px;
  width: 12rem;
  height: 12rem;
  padding: 3px;
  border-radius: 7px;
  transition: transform 0.3s ease;
}
main .galeria_estilos .gallery img:hover {
  transform: scale(1.4);
}

/* Estilos para el contenedor del perfil de artista */
.contenedor-perfil {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: stretch;
  /* Estilos para la imagen del artista */
  /* Estilos para los detalles del artista */
}
.contenedor-perfil .imagen-perfil {
  width: 400px;
  margin-bottom: 20px;
  margin-right: 7rem;
}
.contenedor-perfil .imagen-perfil img {
  width: 100%;
  height: auto;
}
.contenedor-perfil .descripcion-perfil {
  text-align: justify;
  width: 50%;
}
.contenedor-perfil .descripcion-perfil h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.contenedor-perfil .descripcion-perfil p {
  font-size: 16px;
}

main {
  margin: 0px;
}

.form_contacto {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.form_contacto .form-group {
  margin-bottom: 20px;
}
.form_contacto label {
  display: block;
  font-weight: bold;
  color: #f5a209;
}
.form_contacto input[type=text],
.form_contacto input[type=email],
.form_contacto textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.form_contacto input[type=submit] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5a209;
  color: #fff;
  cursor: pointer;
}

.horarios {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.horarios table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.horarios table th,
.horarios table td {
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
  color: #fff;
}
.horarios table th {
  background-color: #f5a209;
}

.google_maps {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.google_maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
