/* Estilos para el contenedor del perfil de artista */
.contenedor-perfil {
    display: flex;   
    align-items: center;
    padding: 10px;
    justify-content: stretch;

    /* Estilos para la imagen del artista */
    .imagen-perfil {
        width: 400px;
        margin-bottom: 20px;
        margin-right: 7rem; 
        

        img {
            width: 100%;
            height: auto;
        }
    }
    /* Estilos para los detalles del artista */
    .descripcion-perfil {
        text-align: justify;
        width: 50%;

        h1 {
            font-size: 40px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
        }
        
    }

}