@media only screen and (min-width: 0px) and (max-width: 567px) {
    h1 {
        font-size: 2rem;
    }

    .container-title {
        display: none;
    }

    .container_flex {
        display: flex;

        justify-content: center;
        flex-wrap: wrap;

        margin: auto;
        text-align: center;

        flex-direction: column;

        img {
            width: 200px;
            height: auto;
            align-content: center;

        }

        

            

            .preguntas {

                padding: 1rem;
                
                h2 {
                    font-size: 4rem;
                }


            }
        

    }

    @media screen and (max-width: 768px) {
        .contenedor-perfil {
            padding: 2px;
            flex-direction: column;
        }


        .imagen-perfil {
            max-width: 100%;
            margin-bottom: 0;
            /* margin-right: 20px; */


            img {
                max-width: 100%;
                height: auto;

            }
        }

        .descripcion-perfil {

            max-width: 100%;
            flex: 2;

            p {
                text-align: justify;
                max-width: 90%;
                margin: 0px;

            }



        }
    }




}